<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('./partials/head_no_bp'); %>
    <link rel="stylesheet" href="./css/style-modal.css">
    <link rel="stylesheet" href="./css/loader.css">
    <link href="https://vjs.zencdn.net/8.0.4/video-js.css" rel="stylesheet" />

    <!-- <script src="/js/openPopup.js" defer></script> -->
    
</head>
<body>
    
    <%- include('./partials/navbar'); %>

    <div class="centerLoader active" id="onload">
        <div class="loadingio-spinner-eclipse-y8u15f3ar1i">
            <div class="ldio-zzugt4gcsy">
                <div></div>
            </div>
        </div>
    </div>
     
    <div class="box-friends">
        <p>Mis amigos </p>

        <div class="search-container">
            <input type="text" class="input-search" placeholder="ingrese el nombre de usuario...">
            <button class="button-search">
                <i class='bx bx-search'></i>
            </button>
        </div>

        <% if(friends){%>
            <% friends.forEach((friend) => { %>
                <div class="friend">
                    <% if (friend.image) {%>
                        <a href="/profile/<%= friend.username %>"> <img src="./files/<%= friend.image %>" alt="img-avatar"> </a>
                    <% } else{%>
                        <a href="/profile/<%= friend.username %>"> <img src="./img/user.png" > </a>
                    <% } %>

                    <div>
                        <p><a href="/profile/<%= friend.username %>"><%= friend.name %></a></p>
                    </div>

                    <div class="connect">
                        
                    </div>

                </div>
                <hr>
           <% }); %>
        <% } %>
    </div>

    <div class="box-notify">
        <p>Mis notificaciones</p>

        <div class="notify-title">
            <div>
                <p>Notificaciones</p>
            </div>
        </div>
        <hr>


    </div>

    <div class="write-post-container">

        <div class="user-profile">
            <% if (user.image) {%>
                <a href="/profile/<%= user.username %>"> <img src="./files/<%= user.image %>" alt="img-avatar"> </a>
            <% } else{%>
                <a href="/profile/<%= user.username %>"> <img src="./img/user.png" > </a>
            <% } %>

            <div>
                <p><a href="/profile/<%= user.username%>"><%= user.name %></a></p>
                <small>Public <i class="fa-sharp fa-solid fa-caret-down"></i></small>
            </div>
        </div>

        <div class="post-input-container">
            <textarea id="input-container-text" rows="3" placeholder="En que estas pensando, <%= user.name %>?"></textarea>

           <!-- <div class="add-post-links">
                <div class="post-icon"><img src="/img/pic.png" alt=""> Foto/video</div>
                <div class="post-icon"><img src="/img/feeling.png" alt=""> Sentimiento</div>
                <div class="post-icon"><img src="/img/calendario.png" alt=""> Crear evento</div>
                <div class="post-icon"><img src="/img/encuesta.png" alt=""> Crear encuesta</div>
            </div>  -->
        </div>
        

    </div>

    <div class="overlay add">
        <div class="popup">
            <div id="cerrar-popup-container">
                <a id="btn-cerrar-popup" class="btn-cerrar-popup">
                    <i class="fa-solid fa-x"></i>
                </a>
            </div>
    
            <h4>Subir Post</h4>
            <form  enctype="multipart/form-data" class="form-post add">

                <div class="contenedor-inputs">

                    <input name="content" type="text" class="input-text" placeholder="Texto del post...">
                    
                    <div class="upload-container">
                                <input name="image" type="file" class="upload-hide" id="upload-custom">
                                <label for="upload-custom" class="upload-label">
                                    <i class="uil uil-export"></i>
                                    <p class="dragText">Sube una imágen o video.</p>
                                    <img id="imagenPrevisualizacion" class="image-prev">
                                    
                                    <!--<input name="image" type="file" class="uploadHide" id="uploadCustom"> -->
                                </label> 
                    </div>
                </div>

                    <input type="submit" class="btn-submit " value="enviar">
            </form>

            
        </div>
    </div>

    <div class="overlay replyPost">
        <div class="popup reply">
            <div id="cerrar-popup-container">
                <a id="btn-cerrar-popup" class="btn-cerrar-popup">
                    <i class="fa-solid fa-x"></i>
                </a>
            </div>
    
            <h4>Agregué un comentario</h4>
            <form  enctype="multipart/form-data" class="form-post reply">

                <div class="contenedor-inputs">

                    <input name="content" type="text" class="postReplyInput" placeholder="Texto del post...">
            
                </div>

                    <input type="submit" class="btnReply" value="enviar">
            </form>
        </div>

    </div>

   
        <%- include('./partials/posts'); %>


    <% if(posts) {%>
        <script src="/js/postController.js" defer></script>
    <% } %>
        

    <script defer>

        let subMenu = document.getElementById("subMenu");
       

        function toggleMenu(){
            subMenu.classList.toggle("open-menu");
        }

    </script>

    <script src="/js/load.js"></script>
    <script src="/js/notifications.js"></script>
    <script src="https://vjs.zencdn.net/8.0.4/video.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>